.main {font-family: sans-serif; position: absolute; top: 40%; right: 50%; transform: translate(50%, -50%); padding: 30px;}
.content {box-shadow: 0 0 5px 0 #666; padding: 20px;}
h1 {text-align: center; color: #61dafb}
.form {max-width: 400px; margin: auto;text-align: center; margin-bottom: 20px;}
.form-group {position: relative; margin-bottom: 15px; display: flex; flex-direction: column; gap: 5px;}
input {font-size: 14px; padding: 5px 10px}
.subForm {font-size: 18px; padding: 5px 50px; background-color: #61dafb; border: none; color: black; font-weight: bold; cursor: pointer;}
.resultInfo{color: #61dafb; font-weight: bold;}
.warningMes {color: red;}
@media (max-width: 500px) {.main {right: 0; left: 0;transform: translate(0, -50%);}}

table, tr {width: 500px}
td, th {width: 40%; text-align: center; padding: 10px 0; background-color: #32f09d;}
td:last-child, th:last-child {width: 20%;padding: 5px 0;}
td:last-child img {max-width: 30px; cursor: pointer;}
td:last-child img:hover {transform: scale(1.2);}
.string.active td, .string:hover td{background-color: #cc8eff;}
